.header {
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat center center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
  
.header-contents {
    color: black;
    padding: 20px;
    border-radius: 10px;
    /* From https://css.glass */
    background: rgba(241, 255, 213, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid transparent;
    animation: fadeIn  3s;
}

.header-contents h2{
    font-weight: 500;
    font-size: 45px;
     /* From https://css.glass */
     background: rgba(241, 255, 213, 0.05);
     border-radius: 0px;
     box-shadow: 0 4px 30px transparent;
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     border: 0px solid transparent;
    
}

.header-contents p{
    font-weight: 500;
    font-size: 10px;
     /* From https://css.glass */
     background: rgba(241, 255, 213, 0.05);
     border-radius: 0px;
     box-shadow: 0 4px 30px transparent;
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     border: 0px solid transparent;
}

.header-contents button{
    border:none;
    color: rgb(19, 130, 91);
    font-weight: 500;
    padding: 1vw 1.5vw;
    background-color: aliceblue;
    font-size: max(1vw,8px);
    border-radius: 50px;
    margin-top: 10px;
    cursor: pointer;
}
 

@media (max-width:1050px){
    
    .header-contents{
        max-width: 45%;
    }
}


@media (max-width:750px){
    .header{
      max-width: 95%;
    }
    
    .header-contents{
        display: none;
    }

    .header-contents button{
        padding: 2vw 4vw;
    }
}
  
  